.search {

  &__button-holder {
    display: inline-block;
    background-color: $color-grey-light-1;
    border: thin solid $color-grey-light-2;
    cursor: pointer;
    height: 2.2rem;
    text-align: center;
    width: 3rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: .5rem;
    position: relative;

    & img {
      width: 1.5rem;
      
      @include centerElement;
    }
  }

  &__results {
    border: 1px solid $color-grey-light-2;
    float: left;
    height: .25rem;
    outline: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &--footer_empty {
      display: none;
    }
  }

}