.user-details {
  margin: 0 auto;
  padding: 0 1rem;
  width: 90%;
  min-width: 95rem;
  position: relative;

  &__profile {
    background-color: $color-grey-light-2;
    padding: 1rem;
    float: left;
    border-radius: 5px;
    border: 1px solid $color-grey-dark-2;
    width: 40%;
    
    & img {
      float: left;
      padding-right: 1rem;
      border-radius: 1000px;
    }
  }

  &__wall {
    background-color: $color-grey-light-2;
    padding: 1rem;
    float: right;
    border-radius: 5px;
    border: 1px solid $color-grey-dark-2;
    width: 55%;
  }

  &--form {
    position: relative;

    & > textarea {
      border-radius: 5px;
      padding: .5rem;
      border: 1px solid $color-grey-dark-2;

      &:hover, 
      &:focus, 
      &:active {
        outline: none;
      }

    }

    & > input[type="submit"] {
      position: absolute;
      padding: 3rem;
      right: 3.5%;
      top: -7%;
    }

  }

}
