.navigation {
  background-color: $color-primary;
  width: 100%;
  min-height: 7vh;
  border-bottom: 1px solid $color-primary-light;
  display: inline-flex;
  position: relative;

  &__center {
    @include centerElement;
  }

  &__logo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: $default-font-size;

    &--link {
      text-decoration: none;
      color: $color-white;
    }
  }

  &__items {
    float: right;
    right: 2rem;
    position: absolute;
    font-size: $font-size-medium;

    &--item {
      list-style: none;
      display: inline-block;
      font-size: inherit;
      color: $color-white;

      & > a {
        text-decoration: none;
        font-size: inherit;
        color: $color-white;
      }

    }

  }

}